@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');


.front{
   width: 100%;
   height: 100vh;
}

.front video{
   height: 100%;
   width: 100%;
   object-fit: cover;
}
.front .fade{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.85);
   z-index: 1;
}
.front .contain{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 2;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   font-family: 'Roboto', sans-serif;
   text-align: center;
   color: #F1F102;
}
.front .contain p{
   font-size: 21px;
   font-weight: bold;
   letter-spacing: 1px;
}
.front .contain h1{
   font-size: 120px;
   font-weight: normal;
   letter-spacing: 3px;
   margin-bottom: -20px;
}
.front .contain h1 .remove_space{
   position: relative;
   top: -30px;
}
.front .contain h1 span{
   font-weight: bold;
}

.about{
   height: auto;
   width: calc(100% - 200px);
   display: flex;
   padding: 70px 100px;
   background-color: #111D28;
   font-family: 'Roboto', sans-serif;
   color: white;
   gap: 50px;
   flex-wrap: wrap;
}
.about h3{
   color: #F1F102;
}
.about .left{
   flex: 1;
   display: flex;
   justify-content: center;
   flex-direction: column;
   flex-wrap: wrap;
}
.about .left h1{
   font-size: 45px;
}
.about .left h3{
   font-size: 25px;
}
.about .left p{
   font-weight: bold;
   font-size: 17px;
}
.about .right{
   max-height: 450px;
   min-width: 60%;
   flex: 1;
}
.about .right img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 15px;
}

.results{
   background-color: #0A121A;
   font-family: 'Roboto', sans-serif;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 50px 0px;
   color: white;
   gap: 40px;
   width: 100%;
}
.results h1{
   font-size: 45px;
   margin-bottom: 30px;
}
.results .cards{
   max-width: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   gap: 50px;
}

.sponsors{
   background-color: #111D28;
   font-family: 'Roboto', sans-serif;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 50px 0px;
   color: white;
   gap: 40px;
   width: 100%;
}
.sponsors .title{
   display: flex;
   align-items: center;
   justify-items: center;
   flex-direction: column;
   gap: 10px;
   margin-bottom: 30px;
}
.sponsors .title h1{
   font-size: 45px;
}
.sponsors .title h3{
   color: #F1F102;
   font-size: 23px;
   word-spacing: 1px;
}
.sponsors .cards{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 40px;
   flex-wrap: wrap;
   width: 1300px;
   max-width: 85%;
}

.social{
   background-color: #0A121A;
   font-family: 'Roboto', sans-serif;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   padding: 50px 0px;
   color: white;
   gap: 40px;
   width: 100%;
   padding-bottom: 70px;
}
.social h1{
   font-size: 45px;
   margin-bottom: 30px;
}
.social .cards{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
   max-width: 1500px;
   width: 100%;
   gap: 50px;
}

@media only screen and (max-width: 1000px){
   .front .contain h1{
      font-size: 100px;
   }
   .about{
      flex-direction: column;
      width: calc(100% - 100px);
      padding: 70px 50px;
   }
   .about h1, .about h3{
      text-align: center;
   }
   .about img{
      max-height: 400px;
   }
}

@media only screen and (max-width: 600px){
   .front .contain h1{
      font-size: 75px;
   }
   .about{
      width: calc(100% - 80px);
      padding: 70px 40px;
   }
}