@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

nav{
   position: fixed;
   top: 70px;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 999;
   width: 85%;
   height: 60px;
   background-color: #121924;
   border-radius: 15px;
   box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.4);

   display: flex;
   align-items: center;
   justify-content:space-around;
   
   font-family: 'Roboto', sans-serif;
}
nav .left, nav .right{
   flex: 1;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

nav a.active{
   color: #F1F102!important;
}

nav .left a, nav .right a {
   color: white;
   text-decoration: none;
   font-weight: bold;
   position: relative;
   font-size: 16px;
   cursor: pointer;
}

nav .left a:before, nav .right a:before{
   content: attr(data-text);;
   position:absolute;
   color: #F1F102;
   top:0;
   left:0;
   width:0%;
   overflow:hidden;
   white-space: nowrap;
   transition:all 0.2s;
   display: inline-block;
}
nav .left a:hover:before, nav .right a:hover:before{
   width:100%;
}


nav .left a:after, nav .right a:after, nav a.active:before{
	content: '';
   position: absolute;
   left: 0;
   display: inline-block;
   height: 1em;
   width: 100%;
   border-bottom: 1px solid;
   margin-top: 10px;
   opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}
nav a.active:before{
   opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
nav .left a:hover::after, nav .right a:hover::after{
   opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

nav .center{
   width: 100px;
   height: 100px;
   background-color: #121924;
   border-radius: 50%;
   box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.45);
}
nav .center a{
   text-decoration: none;
   width: 100%;
   height: 100%;
   border-radius: 50%;
   display: flex;
   align-items: center;
   justify-content: center;
   cursor: pointer;
}
nav .center img{
   width: 80px;
   height: 80px;
}

nav .close_nav{
   position: relative;
   right: 20px;
   cursor: pointer;
   font-family: 'Roboto', sans-serif;
   font-size: 18px;
   font-weight: bold;
   width:40px;
   height: 40px;
   border: none;
   border-radius: 40px;
   transition: all 0.5s;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 0px 0px 40px 5px rgba(255, 255, 255, 0.4);
}
nav .close_nav:hover{
   scale: 1.1;
   background-color: #F1F102;
}

nav .nav_mobile{
   left: 0;
   top: 0;
   width: 100%;
   position: fixed;
   flex-wrap: wrap;
   justify-content: space-between;
   height: 70px;
   background-color: #0d121b;
   box-shadow: 0px 0px 30px 0px rgba(255, 255, 255, 0.3);
   display: flex;
   align-items: center;
}
nav .nav_mobile img{
   height: 35px;
   position: relative;
   left: 20px;
}

@media only screen and (max-width: 1000px) {
   body.overflow-hidden{
      overflow: hidden;
   }
   nav .left, nav .center, nav .right{
      display: none;
   }
   nav .left.show, nav .center.show, nav .right.show{
      display: flex;
   }
   nav .center.show{
      display: none;
   }
   nav .nav_mobile.show{
      box-shadow: none;
   }
   nav.show{
      background-color: rgba(18, 25, 36, .97);
      width: 100%;
      height: 100%;
   }
   nav{
      width: 0px;
      height: 0px;
      position:fixed;
      top: 0;
      left: 0;
      transform: none;
      flex-direction: column;
      border-radius: 0;
      background-color: transparent;
      overflow-y: auto;
      justify-content: space-between;
      box-shadow: none;
   }
   nav .center{
      order: -1;
      position: relative;
      top: 50px;
      min-height: 100px;
      min-width: 100px;
   }
   nav .left{
      flex: 1 1;
      position: relative;
      top: 60px;
      flex-direction: column;
      min-height: 230px;
   }
   nav .left a{
      font-size: 20px!important;
   }
   nav .right{
      flex: 1 1;
      position: relative;
      top: 60px;
      flex-direction: column;
      min-height: 230px;
      padding-bottom: 30px;
   }
   nav .right a{
      font-size: 20px!important;
   }
}