.page{
   width: calc(100% - 10%);
   padding: 0px 5%;
}
.page .content .container{
   min-height: 50px;
   width: 100%;
   display: flex;
   justify-content: center;
   flex-direction: column;
   gap: 30px;
}
.page .content .container .cards{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 50px;
}